@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Kaisei+Tokumin&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

/* Define CSS Variables */
:root {
    --heading-color: #333;
    --paragraph-color: #666;
}

* {
    margin: 0;
    padding: 0;
}
/* General Styling */
body {
    font-family: 'roboto', serif;
    margin: 0;
    padding: 0;
    background-color: #ececec;
}
/* HEADER SECTION */
header {
	height: 80px;
	width: 100%;
	background-color: #082707;
	display: flex;
	justify-content: space-between;
}

.logo {
	padding-left: 20px;
	width: fit-content;
	height: 80px;
}

.logo-img {
	height: 100%;
}

nav {
	width: fit-content;
	height: 100px;
}

ul {
	margin-right: 20px;
}
li {
	display: inline;
	float: left;
}
nav a {
	padding: 0 40px;
	text-decoration: none;
	color: #fff;
	line-height: 80px;
	display: block;
}
nav a:hover{
	background-color: #fff;
	color: #082707;
}

/* MAIN SECTION */
main {
    width: 100%;
}
.hero {
    position: relative;
}



.bk {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: -1;
}


article {
    display: flex;
    height: 100px;
    flex-direction: row-reverse;
    padding: 20px;
}
article p {
    text-align: center;
    padding-right: 20px;
}

.hero h1 {
    text-align: center;
    font-size: 2.0em;
    padding: 10px 0;
}

.hero p, .hero h1{
    color: #fff;
}

.hero p,
.hero h1 {
    color: #fff;

}
.history {
    width: 100%;
    height: 200px;
    padding-top: 20px;
}
.history h2 {
    font-size: 2.0em;
    text-align: center;
    padding: 10px 0;
}

.history p {
    padding: 10px;
}

.adventure {
    width: 100%;
}
.adv-h2 {
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
}
.emp-h2 {
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
}


.advent-img {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.advent-img img {
    height: 150px;
    width: fit-content;
    padding-bottom: 100px
}

footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between; 
}
footer p {
    line-height: 100%;
}
.sociallinks{
    display:  flex;
}


.sociallinks img {
    width: 50px;
}

.sociallinks {
    margin-right: 20px; 
}

.sociallinks a {
    margin-left: 10px; 
}


/* Contact US CSS */
h1 {
    text-align: center;
    padding: 20px 0;
    font-size:1.5em;
}
.company-info {
    display: flex;
    height: 300px;
    justify-content: space-between;
}
.info {
    width: 50%;
    padding-right: 10px;
}
.info h2 {
    text-align: center;
    font-size: 1.5em;
    padding: 15px;
    padding-top: 30px;
    text-transform: capitalize;
}
.info p {
    padding: 0 100px;
    padding-top: 80px;
    height: 300px;
}
.map {
    width: 50%;
    height: 300px;
}
.map iframe {
    height: 100%;
    width: 80%;
}

.employee-profile {
    padding-top: 50px;
    width: 100%;
    height: 400px;
}
.employee-profile h2{
    text-align: center;
    font-size: 2em;
    padding: 10px 0;
    
}
.team-grid {
    display: flex;
    height: 100%;
    justify-content: center;
}
.employee-img {
    height: 80%;
    width: 300px;
    border: 5px solid grey;
}
.employee-img img {
    height: 90%;
    width: 100%;
}
.employee-img p {
    text-align: center;
    font-weight: 700;
}

.contact-form{
    padding: 50px 0;
}

.contact-form h2{
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: #333; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}
form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
select,
input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #181717; 
}


/* TRIP */
.call-to-action {
    width: 50%;
    height: 200px;
    margin: 0 auto;
}

.detail {
    width: 100%;
    height: 100%;
}

.detail h2{
    text-align: center;
    padding: 10px;
    background-color: #333; 
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 5px 5px 0  0;
}
.detail p{
    text-align: center;
    padding: 40px 0;
}

.contact-btn {
    width: fit-content;
    height: 50px;
    background-color: #333;
    border-radius: 5px;
    margin: 0 auto;
}
.detail a {
    text-align: center;
    text-decoration: none;
    align-self: center;
    line-height: 50px;
    padding: 0 10px;
    color: #fff;
    display: block;
    
}

.trip {
    padding-top: 40px;
    width: 100%;
    
}
.trip h2 {
    text-align: center;
    padding: 40px 0;
}

.trip-details {
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
    padding-bottom: 30px;
}

.trip-details img{
    height: 100%;
    width: 30%;
    border: 5px solid #333;
}

.trip-p {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

.trip {
   text-align: center;
}

.trip-table {
    width:  50%;
    margin: 0 auto;
    padding: 20px 0;


}

.trip-table h2{
    text-align: center;
    padding: 30px 0;
}
.trip-table td {
    padding: 10px;
    border: 2px solid grey;
}

.wireframe {
    max-width: 700px;
    height: 1200px;

    margin: 0 auto;
    padding: 20px 0;
    padding-bottom: 50px;
}
.wireframe h2 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 5px;
}
.wireframe img {
    width: 100%;
    height: 100%;

}

/* Home Page */
.hp-hero {
    position: relative;
}



.hp-bk {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: -1;
}
.hp-hero h1 {
    color: #fff;
}
.hp-hero p{
    color: #e1e1e1;
    text-align: center;
    font-weight: 800;
    background-color: #666;
    width: fit-content;
    margin: 0 auto;
}

.newsletter {
    width: 60%;
    height: fit-content;
    margin: 0 auto;
    padding-top: 500px;
}

.newsletter h2 {
    text-align: center;
}


.hp-call-to-action {
    width: 60%;
    height: fit-content;
    margin: 0 auto;
    padding: 30px 0;
    
}
.hp-call-to-action h2, p {
    text-align: center;
    line-height: 50px;
}
.hp-call-to-action a {
    line-height: 50px;
    text-decoration: none;
    width: fit-content;
    text-align: center;
}
.trip-link {
    width: 100%;
    padding-left: 350px;
}

.grid-layout {
    width: 70%;
    height: fit-content;
    margin: 0 auto;
    border: 1px solid grey;
}

.grid-layout img{
    width: 100%;
}
.grid-item p{
    background-color: grey;
    color: #fff;
}